In [1]:
import pandas as pd

In [26]:
excel_2018 = pd.read_excel("./2018-v268-06102022-EU MRV Publication of information.xlsx", header=2)#, nrows=100)
excel_2019 = pd.read_excel("./2019-v211-07102022-EU MRV Publication of information.xlsx", header=2)#, nrows=100)
excel_2020 = pd.read_excel("./2020-v183-22022023-EU MRV Publication of information.xlsx", header=2)#, nrows=100)
excel_2021 = pd.read_excel("./2021-v139-25032023-EU MRV Publication of information.xlsx", header=2)#, nrows=100)

/Users/liam/Documents/CarbonChain/carbon-chain-venv/lib/python3.8/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/liam/Documents/CarbonChain/carbon-chain-venv/lib/python3.8/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/liam/Documents/CarbonChain/carbon-chain-venv/lib/python3.8/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/liam/Documents/CarbonChain/carbon-chain-venv/lib/python3.8/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [27]:
# Add year column
excel_2018['year'] = pd.Series(['2018' for i in range(len(excel_2018))])

excel_2019['year'] = pd.Series(['2019' for i in range(len(excel_2019))])

excel_2020['year'] = pd.Series(['2020' for i in range(len(excel_2020))])

excel_2021['year'] = pd.Series(['2021' for i in range(len(excel_2021))])

In [28]:
# Which columns are't consistent between years
set_2018 = set(excel_2018.columns.tolist())
set_2019 = set(excel_2019.columns.tolist())
set_2020 = set(excel_2020.columns.tolist())
set_2021 = set(excel_2021.columns.tolist())
columns_union = set.union(set_2018, set_2019, set_2020, set_2021)
columns_intersection = set.intersection(set_2018, set_2019, set_2020, set_2021)
print(len(columns_intersection))

60

In [29]:
df = pd.concat([excel_2018, excel_2019, excel_2020, excel_2021], join='inner', axis=0)
df

,IMO Number,Name,Ship type,Reporting Period,Technical efficiency,Port of Registry,Home Port,Ice Class,DoC issue date,DoC expiry date,...,Fuel consumption per transport work (freight) on laden voyages [g / m tonnes · n miles],CO₂ emissions per distance on laden voyages [kg CO₂ / n mile],CO₂ emissions per transport work (mass) on laden voyages [g CO₂ / m tonnes · n miles],CO₂ emissions per transport work (volume) on laden voyages [g CO₂ / m³ · n miles],CO₂ emissions per transport work (dwt) on laden voyages [g CO₂ / dwt carried · n miles],CO₂ emissions per transport work (pax) on laden voyages [g CO₂ / pax · n miles],CO₂ emissions per transport work (freight) on laden voyages [g CO₂ / m tonnes · n miles],Additional information to facilitate the understanding of the reported average operational energy efficiency indicators,Average density of the cargo transported [m tonnes / m³],year
0,5383304,ASTORIA,Passenger ship,2018,Not Applicable,NaN,NaN,NaN,05/02/2019,30/06/2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
1,6417097,MARCO POLO,Passenger ship,2018,Not Applicable,NaN,NaN,IC,05/02/2019,30/06/2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
2,6511128,RED STAR 1,Ro-pax ship,2018,EIV (45.57 gCO₂/t·nm),NaN,NaN,NaN,30/04/2019,30/06/2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
3,6602898,OCEAN MAJESTY,Passenger ship,2018,EIV (31.73 gCO₂/t·nm),Madeira,NaN,NaN,06/05/2019,30/06/2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
4,6703343,EQUALITY,Other ship types,2018,Not Applicable,Beirut,NaN,NaN,30/06/2019,30/06/2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12229,9917646,CLEAROCEAN MERIBEL,Chemical tanker,2021,EEDI (4.04 gCO₂/t·nm),Manila,Manila,NaN,05/04/2022,30/06/2023,...,NaN,263.09,10.87,NaN,NaN,NaN,NaN,NaN,NaN,2021
12230,9917658,CLEAROCEAN MILANO,Chemical tanker,2021,EEDI (4.04 gCO₂/t·nm),MANILA,MANILA,NaN,30/03/2022,30/06/2023,...,NaN,371.61,17.15,NaN,NaN,NaN,NaN,NaN,NaN,2021
12231,9919620,OLYMPIOS,Chemical tanker,2021,EEDI (4.05 gCO₂/t·nm),MONROVIA,NaN,NaN,17/04/2022,30/06/2023,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021
12232,9921855,GCL PARADIP,Bulk carrier,2021,EEDI (3.19 gCO₂/t·nm),PANAMA,NaN,NaN,18/02/2022,30/06/2023,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021
12233,9924912,GC BERYL,Chemical tanker,2021,EEDI (6.53 gCO₂/t·nm),Hongkong,Hongkong,NaN,28/04/2022,30/06/2023,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021

In [30]:
# Save to CSV
df.to_csv('./EU_MRV_all_data.csv')